<div class="container">
  <div class="contact__wrapper shadow-lg mt-n9">
    <div class="row no-gutters">
      <div
        class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2"
      >
        <h3 class="color--white mb-5">{{ course.type }}-{{ course.code }}</h3>

        <ul
          class="contact-info__list list-style--none position-relative z-index-101"
        >
          <li class="mb-4 pl-4">
            <span class="position-absolute"
              ><i class="fa fa-info-circle"></i
            ></span>
            {{ course.description }}
          </li>
        </ul>

        <figure
          class="figure position-absolute m-0 opacity-06 z-index-100"
          style="bottom: 0; right: 10px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="444px"
            height="626px"
          >
            <defs>
              <linearGradient
                id="PSgrad_1"
                x1="0%"
                x2="81.915%"
                y1="57.358%"
                y2="0%"
              >
                <stop
                  offset="0%"
                  stop-color="rgb(255,255,255)"
                  stop-opacity="1"
                ></stop>
                <stop
                  offset="100%"
                  stop-color="darkred"
                  stop-opacity="0"
                ></stop>
              </linearGradient>
            </defs>
            <path
              fill-rule="evenodd"
              opacity="0.302"
              fill="rgb(255,255,255)"
              d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"
            ></path>
            <path
              fill="url(#PSgrad_1)"
              d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"
            ></path>
          </svg>
        </figure>
      </div>

      <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
        <form
          #editForm="ngForm"
          class="contact-form form-validate"
          novalidate="novalidate"
        >
          <div class="row">
            <div class="col-sm-6 mb-3" id="nameInput">
              <div class="form-group">
                <label class="required-field" for="name">Course Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [(ngModel)]="course.name"
                  name="name"
                  placeholder="Course Name"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3" id="creditsInput">
              <div class="form-group">
                <label for="credits">Credits</label>
                <input
                  type="text"
                  class="form-control"
                  id="credits"
                  [(ngModel)]="course.credits"
                  name="credits"
                  placeholder="Credits"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label class="required-field" for="semester">Semester</label>
                <input
                  type="text"
                  class="form-control"
                  id="semester"
                  [(ngModel)]="course.semester"
                  name="semester"
                  placeholder="Fall"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="inactive">Inactive</label>
                <input
                  type="text"
                  class="form-control"
                  id="inactive"
                  [(ngModel)]="course.inactive"
                  name="inactive"
                  placeholder="True/False"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label class="required-field" for="date">Start Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="startDate"
                  [(ngModel)]="course.startDate"
                  name="startDate"
                  placeholder="yyyy-mm-dd"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="endDate">End Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="endDate"
                  [(ngModel)]="course.endDate"
                  name="endDate"
                  placeholder="yyyy-mm-dd"
                />
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <button
                (click)="onSubmit(editForm.value)"
                type="submit"
                name="submit"
                class="btn btn-primary"
              >
                Save Changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
